.speedometer-container {
  position: absolute;
  right: 100px;
  bottom: 50px;
  width: 200px;
  height: 200px;
}

.speedometer-circle-svg {
  position: absolute;
  width: 100%;
  height: 100%;
}

.speedometer-arrow-svg {
  position: absolute;
  top: 0;
  left: 50px;
  width: 50%;
  height: 50%;
  transition: transform 0.2s ease-out;
  transform-origin: 50% 93%;
}

.speed-text {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  font-size: 18px;
  color: white;
  font-weight: bold;
}
