.column {
  display: inline-block;
  margin: 10px;
  position: relative;
  width: 110px;
}

.cards-column {
  width: 100px;
  height: 140px;
  margin: 0 1em;
  border-radius: 5px;
  border: 2px solid darkslategrey;
}
