/* src/components/Battery.css */

/* .battery-container {
    position: absolute;
    right: 10px;
    top: 10px;
  }
  
  .blink {
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
  }
  
  @keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
  
  @-webkit-keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
   */

   /* src/components/Battery.css */

.battery-container {
  position: absolute;
  right: 10px;
  top: 10px;
}

.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
